.App {
  text-align: left;
  background-color: #282c34;
  height: 100vh;
}

.App-header {
  
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 25px;
}

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 25px;
}

.App-body form {
  display: flex;
  flex-direction: column;
}

.App-body .body-header {
  font-size: 20px;
}

.App-body label {
  font-size: 14px;
}

.App-body input {
  margin-left: 10px;
  border-radius: 5px;
}

.App-body button {
  border-radius: 5px;
  width: 75px;
}
